@page {
  margin: 1cm;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0;
}

.battleship-board-grid {
  display: grid;
  grid-template-columns: 8cm 8cm 8cm;
}

.battleship-board {
  padding: 5mm;
  border: 0.5mm lightgray dashed; 
}

@media print {
  footer.page-break {
    page-break-after: always;
  }
}

.text-battleship {
  font-family: 'Bangers', cursive;
  font-size: 7mm;
  display: block;
  margin: -2mm 0mm 3mm 0mm;
  color: black;
  -webkit-text-stroke: 0.3mm black;
  -webkit-text-fill-color: white;
}

table {
  border-collapse: collapse;
}

th,
td {
  width: 7mm;
  height: 7mm;
  box-sizing: border-box;
}

th {
  font-weight: bold;
}

td {
  border-color: black;
  border-style: solid;
  border-width: 0.5mm;
}

td.ship-piece {
  background-color: lightgray;
}

td.ship-left,
td.ship-right {
  border-top-width: 1mm;
  border-bottom-width: 1mm;
}

td.ship-left.ship-first-piece {
  border-right-width: 1mm;
}

td.ship-left.ship-last-piece {
  border-left-width: 1mm;
}

td.ship-right.ship-first-piece {
  border-left-width: 1mm;
}

td.ship-right.ship-last-piece {
  border-right-width: 1mm;
}

td.ship-up, 
td.ship-down {
  border-left-width: 1mm;
  border-right-width: 1mm;
}

td.ship-up.ship-first-piece {
  border-bottom-width: 1mm;
}

td.ship-up.ship-last-piece {
  border-top-width: 1mm;
}

td.ship-down.ship-first-piece {
  border-top-width: 1mm;
}

td.ship-down.ship-last-piece {
  border-bottom-width: 1mm;
}