<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description" content="Printable Battleship generator" />
  <meta charset="utf-8">
  <title>Printable Battleship generator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Domagoj Š">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  
<section id="battleship-boards">
  <div v-for="boardType in boards">
    <div class="battleship-board-grid">
      <div class="battleship-board" v-for="(board, boardNum) in boardType" :key="boardNum">
        <span class="text-battleship">Battleship</span>
        <table>
          <tr>
            <th></th>
            <th scope="row" v-for="col in 8">{{col}}</th>
          </tr>
          <tr v-for="(row, i) in board">
            <th scope="col" class="header header-vertical">{{ getRowCode(i) }}</th>
            <td class="board-piece" v-for="(col, j) in row" :class="boardPieceStyles(board, i, j)"></td>
          </tr>
        </table>
      </div>
    </div>
    <footer class="page-break"></footer>
  </div>
</section>

<script src="https://unpkg.com/vue@3.0.4/dist/vue.global.prod.js"></script>
<script src="js/config.js"></script>
<script src="js/utils.js"></script>
<script src="js/battleship/core.js"></script>
<script src="js/battleship/battleship-generator.js"></script>
<script src="js/battleship/battleship-vue-adapter.js"></script>
<script src="js/app.js"></script>
</body>
</html>